<h1>Image Library</h1>

<%= link_to 'New image', new_image_path %>


<div id="tags_container">
  <h2>Tags</h2>
  <ul>
    <% @view_model.tags.each_with_index do |tag, index| %>
      <li id="tag_<%= index %>">
        <%= link_to tag, "#{images_path}?tag=#{tag}"%>
      </li>
    <% end %>
  </ul>
</div>

<table>
  <% @view_model.images.each do |url| %>
    <tr>
      <td><%= image_tag(url, class: 'index_image') %></td>
    </tr>
  <% end %>
</table>