<h1>Image Library</h1>

<%= render partial: "flash" %>

<div>
  <%= link_to 'New Image', new_image_path %>
</div>

<div>
  <%= link_to 'Clear Tag Filter', images_path, id: 'clear_tag_filter_link' %>
</div>

<table id="image_index_table" border="1">
  <tr>
    <th>Image</th>
    <th>Show</th>
    <th>Tags</th>
  </tr>
  <%= render partial: "image_card", collection: @view_model.images, as: :image %>
</table>
