<h1>New Image</h1>

<%= simple_form_for @image do |form| %>
  <%= form.input :url %>
  <%= form.input :tag_list, input_html: {value: form.object.tag_list.join(",")} %>
  <%= form.button :submit %>
<% end %>
